---
HeaderFilterRegex: '.*'
# disable clang-analyzer-core.UndefinedBinaryOperatorResult
#   ROOT throws lots of them in their headers
# Bugprone:
#   These could cause actual bugs.
# enable cppcoreguidelines-virtual-class-destructor
#   Avoid undefined behaviour
# enable google-build-using-namespace
#   "using namespace" imports a changing amount of symbols, avoid it
# improve readability:
#   readability-simplify-boolean-expr
Checks: >-
  -clang-analyzer-core.UndefinedBinaryOperatorResult,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-virtual-near-miss,
  -bugprone-unhandled-self-assignment,
  -bugprone-reserved-identifier,
  cppcoreguidelines-virtual-class-destructor,
  modernize-make-unique,
  google-build-using-namespace,
  readability-simplify-boolean-expr
